<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="richiesteUtenteTost"></p-toast>

<div>
  <h1 style="text-align: center">Richieste di {{nomeCustomer}} </h1>
</div>

<div setting-table class="p-grid-col-12" style="padding-left: 5%; padding-right: 5%; padding-top: 1em;" *ngIf="loggedCustomer">
  <p-table [columns]="cols" #rt [value]="richieste" selectionMode="single" [(selection)]="richiestaSelezionata"
    (onRowSelect)="onRowSelect($event)" [rows]="50">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns" [ngClass]="{
          'inLavorazione':rowData[col.field] === 'IN LAVORAZIONE',
          'presaInCarico':rowData[col.field] === 'PRESA IN CARICO',
          'completata':rowData[col.field] === 'COMPLETATA',
          'rifiutata':rowData[col.field] === 'RIFIUTATA'
        }">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length">
          Nessuna Richiesta Presente
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div style="text-align:center" style="padding-top: 2em; text-align: center">
    <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Aggiungi Richiesta"></button>
  </div>
</div>

<p-dialog header="Dettaglio Richiesta" [(visible)]="displayDialog" [closable]="true" [responsive]="true" [modal]="true" [positionTop]="50">
  <form name="form" #fRichiesteUtente="ngForm">
    <div class="p-g p-fluid" *ngIf="loggedCustomer && richiesta" style="padding-bottom: 2em">
      <div class="p-g-12">
        <div class="p-g-2">
          <label>Avanzamento:</label>
        </div>
        <div class="p-g-10" [ngClass]="{
          'underProcessing':richiesta.stato === 'IN LAVORAZIONE',
          'inCharge':richiesta.stato === 'PRESA IN CARICO',
          'complete':richiesta.stato === 'COMPLETATA',
          'rejected':richiesta.stato === 'RIFIUTATA'
        }">
          <p-progressBar [value]="percenutaleAvanzamento"></p-progressBar>
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-2">
          <label>Titolo:</label>
        </div>
        <div class="p-g-10">
          <input pInputText id="titolo" name="titolo" [(ngModel)]="richiesta.titoloFilmRichiesto" style="width: 100%"
            [disabled]="!newRichiesta && richiesta.stato !== 'IN LAVORAZIONE'" />
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-2">
          <label>Formato:</label>
        </div>
        <div class="p-g-4" *ngIf="!newRichiesta">
          <p-dropdown [options]="formats" id="formato" name="formato" [(ngModel)]="richiesta.formatoFilmRichiesto"
          [disabled]="!newRichiesta && richiesta.stato !== 'IN LAVORAZIONE'"></p-dropdown>
        </div>
        <div class="p-g-10" *ngIf="newRichiesta">
          <p-dropdown [options]="formats" id="formato" name="formato" [(ngModel)]="richiesta.formatoFilmRichiesto"></p-dropdown>
        </div>
        <div class="p-g-2" *ngIf="!newRichiesta">
          <label>Stato:</label>
        </div>
        <div class="p-g-4" *ngIf="!newRichiesta">
          <p-dropdown [options]="statiRichiesta" id="stato" name="stato" [(ngModel)]="richiesta.stato"
          [disabled]="true"></p-dropdown>
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-2">
          <label>Data:</label>
        </div>
        <div class="p-g-10">
          <input pInputText id="dataInserimento" name="dataInserimento" #titolo [(ngModel)]="richiesta.dataInserimento"
            style="width: 100%" [disabled]="true"/>
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-2">
          <label>Note:</label>
        </div>
        <div class="p-g-10">
          <textarea rows="3" id="noteRichiesta" name="noteRichiesta" pInputTextarea [(ngModel)]="richiesta.note"
          [disabled]="!newRichiesta && richiesta.stato !== 'IN LAVORAZIONE'"></textarea>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="p-dialog-buttonpane p-helper-clearfix" *ngIf="richiesta" style="text-align: center">
        <div class="p-g-6" *ngIf="!newRichiesta && (richiesta.stato === 'IN LAVORAZIONE')">
          <button type="button" pButton class="p-button-danger" icon="fa fa-trash-o" (click)="delete()" label="Elimina"></button>
        </div>
        <div class="p-g-6" *ngIf="!newRichiesta && (richiesta.stato === 'IN LAVORAZIONE')">
          <button type="submit" pButton class="p-button-success" icon="fa fa-upload" (click)="save()" label="Aggiorna"></button>
        </div>
        <div class="p-g-12" *ngIf="newRichiesta">
          <button type="submit" pButton class="p-button-success" icon="fa fa-check" (click)="save()" label="Salva"></button>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-confirmDialog #cd>
  <p-footer>
    <div class="p-dialog-buttonpane p-helper-clearfix">
      <div class="p-g-3" style="text-align: right">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      </div>
      <div class="p-g-6"></div>
      <div class="p-g-3">
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
