<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="filmListTost"></p-toast>
<div>
  <h1 style="text-align: center">Elenco Film</h1>
</div>
<!-- FILTRI DI RICERCA -->
<div class="grid" style="padding-left: 5%; padding-right: 5%;">
  <form [formGroup]="filmSearchFilterForm" style="display: contents">
    <div class="col-12 md:col-4 lg:col-2" style="padding-left: 0px">
      <h5 style="font-size: 1em;"> Nome Film </h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Cerca mome" [formControl]="filmNameAsyncInput">
        <span style="margin-left:-20px;">
      </span> 
      </span>
    </div>
    <div class="col-12 md:col-4 lg:col-3" style="padding-left: 0px">
      <h5 style="font-size: 1em;"> Formato Film </h5>
      <p-multiSelect [filter]="false" [showToggleAll]="false" defaultLabel=" &#xF002; Cerca Formato"
        [showHeader]="false" [panelStyle]="{minWidth:'12em'}" [options]="formats">
        <ng-template let-value pTemplate="selectedItems">
          <div *ngFor="let val of value" class="p-multiselected-item-token p-corner-all">
            <span>{{val}}</span>
          </div>
          <span *ngIf="!value || value.length === 0" class="p-multiselected-empty-token p-corner-all">
            <i class="pi pi-search" style="margin-right: 1em;"></i>
            Cerca Formato
          </span>
        </ng-template>
      </p-multiSelect>
    </div>
    <div class="col-12 md:col-4 lg:col-3" style="padding-left: 0px">
      <h5 style="font-size: 1em;"> Categoria Film </h5>
      <p-multiSelect [filter]="false" [showToggleAll]="false" defaultLabel="Cerca Categoria" [showHeader]="false"
        [panelStyle]="{minWidth:'12em'}" [options]="category">
        <ng-template let-value pTemplate="selectedItems">
          <div *ngFor="let val of value" class="p-multiselected-item-token p-corner-all">
            <img src="./../../assets/showcase/images/categorie/{{val}}.png"
              style="width:20px;vertical-align:middle;margin-right:.5em" />
            <span>{{val}}</span>
          </div>
          <span *ngIf="!value || value.length === 0" class="p-multiselected-empty-token p-corner-all">
            <i class="pi pi-search" style="margin-right: 1em;"></i>
            Cerca Categoria
          </span>
        </ng-template>
        <ng-template let-cat pTemplate="item">
          <img src="./../../assets/showcase/images/categorie/{{cat.label}}.png"
            style="width:24px;display:inline-block;vertical-align:middle" />
          <div style="font-size:14px;float:right;margin-top:4px">{{cat.label}}</div>
        </ng-template>
      </p-multiSelect>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="label" style="text-align: center; font-family: FontAwesome;"> Film dal {{yearFilter ||
    minYear}} al {{maxYear}} </div>
      <p-slider [style]="{'width':'80%','margin-top':'14px','margin-left':'10%'}"
        [min]="minYear" [max]="maxYear"></p-slider>
    </div>
    <div film-button-third class="col-12 md:col-6 lg:col-1 resetButton" style="text-align: right; padding-right: 0px;">
      <button pButton type="button" label="Reset Filtri" style="margin-top: 14px;"></button>
    </div>
  </form>
</div>
<div class="col-12" style="padding-left: 5%; padding-right: 5%; padding-top: 3em;">
  <p-table [value]="films" [lazy]="true" (onLazyLoad)="loadFilms($event)" film-table [columns]="cols" #ft
    [paginator]="!filterActivate && films?.length > 0" [rows]="10" [rowsPerPageOptions]="[5,10,25,50]" [totalRecords]="totalRecords"
    [loading]="loading" [showCurrentPageReport]="!filterActivate && films?.length > 0"
    currentPageReportTemplate="{first} di {last} dei {totalRecords} Film">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          Locandina
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width: 7%">
          Audio
        </th>
        <th style="width: 10%">
          Sottotitoli
        </th>
        <th style="width: 8%">
          Dettagli
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <img [src]="rowData.locandina" style="width: 80%">
        </td>
        <td *ngFor="let col of columns" [innerHTML]="col.renderer ? col.renderer(rowData) : rowData[col.field]">
        </td>
        <td>
          <img *ngFor="let lingua of rowData.linguaAudio" src="assets/showcase/images/flags/{{lingua}}.png"
            title="{{lingua}}">
        </td>
        <td>
          <img *ngFor="let linguaSub of rowData.linguaSottotitoli"
            src="assets/showcase/images/flags/{{linguaSub}}.png" title="{{linguaSub}}">
          <span *ngIf="!rowData.linguaSottotitoli"> - </span>
        </td>
        <td>
          <button pButton type="button" title="Visualizza Dettagli" (click)="goToFilm(rowData._id || rowData.id)">
            <fa-icon class="m-1" [icon]="faSearch"></fa-icon>
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" *ngIf="loadingComplete">
      <tr>
        <td [attr.colspan]="cols.length + 4">
          Nessun Film Trovato
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <span *ngIf="loadingComplete">
        Film Torvati: {{this.table.filteredValue ? this.table.filteredValue.length : this.table.totalRecords }}
      </span>
    </ng-template>
  </p-table>
</div>