<div style="text-align:center">
  <h1 *ngIf="showFilmDetails">
    {{films[0].nome}}
  </h1>
</div>

<p-dataView #dv [value]="films" [rows]="20">
  <ng-template let-film pTemplate="listItem">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img [src]="film.locandina" style="width: 70%;">
      </div>
      <div class="ui-g-12 ui-md-8" *ngIf="voto">
        <div class="ui-g">
          <div class="ui-g-1 ui-sm-5">Anno: </div>
          <div class="ui-g-4 ui-sm-5"><b>{{film.anno}}</b></div>

          <div class="ui-g-2 ui-sm-5" style="padding-right: 20px; padding-top: 10px;">Vota Film: </div>
          <div class="ui-g-3 ui-sm-5">
            <p-rating [(ngModel)]="voto.votazione" [stars]="10" [cancel]="false" (onRate)="upDateVoto()"></p-rating>
          </div>
          <div *ngIf="voto.votazione" class="ui-g-2 ui-sm-2" style="padding-top: 10px;">{{voto.votazione}} / 10</div>
          <div *ngIf="!voto.votazione" class="ui-g-2 ui-sm-2" style="padding-top: 10px;"></div>

          <div class="ui-g-2 ui-sm-6">Formato: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{film.formato}}</b></div>

          <div class="ui-g-2 ui-sm-6">Categoria: </div>
          <div class="ui-g-10 ui-sm-6"><b>{{film.categoria.join(', ')}}</b></div>

          <div class="ui-g-2 ui-sm-6">Lingua Audio: </div>
          <div class="ui-g-10 ui-sm-6">
            <span *ngFor="let lingua of film.linguaAudio">
              <img src="assets/showcase/images/flags/{{lingua}}.png" title="{{lingua}}">
              <span>{{lingua}}</span>
            </span>
          </div>

          <div class="ui-g-2 ui-sm-6">Lingua Sottotitoli: </div>
          <div class="ui-g-5 ui-sm-6">
            <span *ngFor="let linguaSub of film.linguaSottotitoli">
              <img src="assets/showcase/images/flags/{{linguaSub}}.png" title="{{linguaSub}}">
              <span>{{linguaSub}}</span>
            </span>
            <span *ngIf="!film.linguaSottotitoli"> - </span>
          </div>

          <div class="ui-g-2 ui-sm-6">
            <p-toggleButton [(ngModel)]="voto.like" onLabel="" offLabel="" onIcon="fa-thumbs-o-up" offIcon="fa fa-thumbs-o-up"
              [style]="{'width':'150px'}" (onChange)="likeFilm()"></p-toggleButton>
          </div>
          <div class="ui-g-3 ui-sm-6">
            <p-toggleButton [(ngModel)]="dislike" onLabel="" offLabel="" onIcon="fa-thumbs-o-down" offIcon="fa fa-thumbs-o-down"
              [style]="{'width':'150px'}" (onChange)="dislikeFilm()"></p-toggleButton>
          </div>

          <div class="ui-g-2 ui-sm-6"></div>
          <div class="ui-g-10 ui-sm-6"><b></b></div>

          <div class="ui-g-12 ui-sm-12">Trama: </div>
          <div class="ui-g-12 ui-sm-12">{{film.trama}}</div>

        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
