<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="customerRegistrationTost"></p-toast>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover" (click)="goToLogin()"> Accedi </h2>
    <h2 class="active"> Registrati </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./../../../assets/showcase/images/coverLogin/defaultUserAvatar.png" id="icon" alt="User Icon"
        style="width: 200px;" />
    </div>

    <!-- Registration Form -->
    <form [formGroup]="registrationForm">
      <div class="grid">
        <div class="col">
          <p-panel header="Anagrafica Utente">
            <div class="field m-3">
              <span class="p-float-label">
                <input id="firstName" pInputText formControlName="firstName" type="text">
                <label for="firstName">Nome</label>
              </span>
              <p-message severity="error" text="Nome Utente Obbligatorio"
                *ngIf="!registrationForm.controls['firstName'].valid && registrationForm.controls['firstName'].dirty">
              </p-message>
            </div>
            <div class="field m-3">
              <span class="p-float-label">
                <input id="lastName" pInputText formControlName="lastName" type="text">
                <label for="lastName">Cognome</label>
              </span>
              <p-message severity="error" text="Cognome Utente Obbligatorio"
                *ngIf="!registrationForm.controls['lastName'].valid && registrationForm.controls['lastName'].dirty">
              </p-message>
            </div>
            <div class="field m-3">
              <label for="dateformat">Data di Nascita</label>
            </div>
            <div class="field m-3">
              <p-calendar formControlName="dataDiNascita" dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
              <p-message severity="error" text="Data di Nascita Obbligatoria"
                *ngIf="!registrationForm.controls['dataDiNascita'].valid && registrationForm.controls['dataDiNascita'].dirty">
              </p-message>
            </div>
            <div class="field mt-5">
              <div class="formgroup-inline">
                <div class="field-radiobutton">
                  <p-radioButton ngDefaultControl formControlName="sesso" value="Maschio" name="sesso"
                    inputId="Maschio"></p-radioButton>
                  <label for="Maschio">Maschio</label>
                </div>
                <div class="field-radiobutton">
                  <p-radioButton ngDefaultControl formControlName="sesso" value="Femmina" name="sesso"
                    inputId="Femmina"></p-radioButton>
                  <label for="city8">Femmina</label>
                </div>
              </div>
            </div>
          </p-panel>
        </div>
      </div>

      <div class="grid">
        <div class="col">
          <p-panel header="Credenziali Utente">
            <div class="field m-3">
              <span class="p-float-label">
                <input id="password" formControlName="password" promptLabel="Inserire una Password"
                  weakLabel="semplice" mediumLabel="media" strongLabel="difficile" pPassword type="text" />
                <label for="password">Password</label>
                <p-message severity="error"
                  [text]="registrationForm.controls['password'].errors['required'] ?
                'Password Obbligatioria' : registrationForm.controls['password'].errors['minlength'] ? 'La Password deve contenere almeno 6 Caratteri' : ''"
                  *ngIf="!registrationForm.controls['password'].valid&&registrationForm.controls['password'].dirty">
                </p-message>
              </span>
            </div>
            <div class="field m-3">
              <span class="p-float-label">
                <input id="repeatPassword" formControlName="repeatPassword" promptLabel="Inserire una Password"
                weakLabel="semplice" mediumLabel="media" strongLabel="difficile" pPassword type="text">
                <label for="repeatPassword">Ripeti Password</label>
              </span>
            </div>
          </p-panel>
        </div>
      </div>

      <div class="grid">
        <div class="col" style="text-align: center">
          <input type="submit" class="fadeIn second" (click)="registerCustomer()" value="Registrami"
            [disabled]="!registrationForm.valid">
        </div>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="goToHelp()">Password dimenticata?</a>
    </div>

  </div>
</div>

<p-confirmDialog #cd>
  <p-footer>
    <div class="p-dialog-buttonpane p-helper-clearfix">
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
