<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="KO"></p-toast>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Accedi </h2>
    <h2 class="inactive underlineHover" (click)="goToRegistration()"> Registrati </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./../../../assets/showcase/images/coverLogin/defaultUserAvatar.png" id="icon" alt="User Icon" style="width: 200px;"/>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" #myform="ngForm" (ngSubmit)="loginCustomer(loginForm)">
      <input type="text" class="fadeIn second" formControlName="username" placeholder="Username">
      <p-message severity="error" text="Nome Utente Obbligatorio"
        *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].dirty">
      </p-message>
      <input type="password" class="fadeIn third" formControlName="password" placeholder="Password">
      <p-message *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']"
        severity="error" text="La Password deve contenere almeno {{minLengthPass}} Caratteri">
      </p-message>
      <p-message *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
        severity="error" text="Password Obbligatioria">
      </p-message>
      <input type="submit" class="fadeIn fourth" value="Accedi" [disabled]="!myform.valid">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="goToHelp()">Password dimenticata?</a>
    </div>

  </div>
</div>
