<p-card [header]="header" [subheader]="subheader" [style]="{width: '100%', height: '450px'}" styleClass="p-card-shadow">
    <p-header>
      <img src="Card" [src]="imgPath">
    </p-header>
    <div>{{body}}</div>
    <p-footer>
      <button *ngIf="isAdmin" pButton type="button"
        (click)="leftButtonOnClick()" class="p-button-danger m-2">
        {{leftButtonLabel}} <fa-icon class="m-1" [icon]="leftButtonIcon"></fa-icon> </button>
      <button pButton type="button" class="m-2" (click)="rightButtonOnClick()">
        {{rightButtonLabel}} <fa-icon class="m-1" [icon]="rightButtonIcon"></fa-icon> </button>
    </p-footer>
  </p-card>