<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="customersListaTost"></p-toast>

<div class="p-grid-col-12">
  <div class="p-g">
    <div class="p-g-2"></div>
    <div class="p-g-8">
      <h1 style="text-align: center">Utenti</h1>
    </div>
    <div class="p-g-2" style="text-align: center">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Aggiungi Utente" style="margin-top: 1em;"></button>
    </div>
  </div>
</div>

<div class="p-grid-col-12" style="padding-top: 2em; padding-left: 10%; padding-right: 10%" *ngIf="loggedCustomer">
  <p-table [columns]="cols" film-table [value]="customers" #ct>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          Foto
        </th>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
        <th style="width: 10%">
          Richieste
        </th>
        <th style="width: 11%">
          Gestione Utente
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer let-columns="columns">
      <tr>
        <td>
          <img *ngIf="customer.avatar" [src]="customer.avatarBase64" style="width: 100%">
          <img *ngIf="!customer.avatar" src="assets/showcase/images/customer/user-image.png" style="width: 100%">
        </td>
        <td *ngFor="let col of columns" [innerHTML]="col.renderer ? col.renderer(customer) : customer[col.field]">
        </td>
        <td>
          <p-button icon="fa fa-search" title="Visualizza Richieste" (onClick)="goToListaRichiesteCustomer(customer.firstName)"></p-button>
        </td>
        <td>
          <p-button icon="fa fa-cog" title="Opzioni Utente" (onClick)="manageUser(customer)"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length+2">
          Nessun Utente Trovato
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="displayDialog" [closable]="true" [responsive]="true" [modal]="true" [positionTop]="50">
  <p-header>
    Dettaglio Utente
  </p-header>
  <form name="form" #fCustomer="ngForm">
    <div class="p-g p-fluid" style="padding-bottom: 2em" *ngIf="loggedCustomer && customer">
      <div class="p-g-12">
        <div class="p-g-3">
          <label>Nome:</label>
        </div>
        <div class="p-g-3">
          <input pInputText id="nome" name="nome" [(ngModel)]="customer.firstName"
            style="width: 100%" />
        </div>
        <div class="p-g-3">
          <label>Cognome:</label>
        </div>
        <div class="p-g-3">
          <input pInputText id="cognome" name="cognome" [(ngModel)]="customer.lastName"
            style="width: 100%" />
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-3">
          <label>Sesso:</label>
        </div>
        <div class="p-g-3">
          <p-dropdown id="sesso" name="sesso" [options]="sessi" [(ngModel)]="customer.sesso"></p-dropdown>
        </div>
        <div class="p-g-3">
          <label>Data di Nascita:</label>
        </div>
        <div class="p-g-3">
          <p-inputMask id="dataDiNascita" name="dataDiNascita" mask="99/99/9999" [(ngModel)]="customer.dataDiNascita"
            slotChar="gg/mm/aaaa"></p-inputMask>
        </div>
      </div>
      <div class="p-g-12">
        <div class="p-g-3" *ngIf="!newCustomer">
          <label>N. Richieste:</label>
        </div>
        <div class="p-g-3" *ngIf="!newCustomer">
          <p-spinner [size]="30" id="richieste" name="richieste" [(ngModel)]="customer.numeroRichieste"
            [max]="100" [min]="0" [step]="1" style="width: 100%"></p-spinner>
        </div>
        <div class="p-g-3" *ngIf="!newCustomer">
          <label>Categorie Preferite:</label>
        </div>
        <div class="p-g-3" *ngIf="!newCustomer">
          <p-multiSelect [filter]="false" [showToggleAll]="false" [showHeader]="false" [panelStyle]="{minWidth:'12em'}"
            [options]="category" [(ngModel)]="customer.categoriePreferite" id="categoriePreferite" name="categoriePreferite">
            <ng-template let-value pTemplate="selectedItems">
              <div *ngFor="let val of value" class="p-multiselected-item-token p-corner-all">
                <img src="./../../assets/showcase/images/categorie/{{val}}.png" style="width:20px;vertical-align:middle;margin-right:.5em" />
                <span>{{val}}</span>
              </div>
              <span *ngIf="!value || value.length === 0" class="p-multiselected-empty-token p-corner-all">Nessuna</span>
            </ng-template>
          </p-multiSelect>
        </div>
        <div *ngIf="!newCustomer && !showChangePassword && customer.avatar">
          <div class="p-g-4 p-g-offset-1" style="margin-bottom: 1em; margin-top: 2em;">
            <button type="button" pButton class="p-button-info" icon="fa fa-pencil-square-o" (click)="showChangePassword = true;"
              label="Modifca Password"></button>
          </div>
          <div class="p-g-4 p-g-offset-2" style="margin-bottom: 1em; margin-top: 2em;">
            <button type="button" pButton class="p-button-info" icon="fa fa-trash-o" (click)="deleteCustomerAvatar()"
              label="Elimina Avatar"></button>
          </div>
        </div>
        <div *ngIf="!newCustomer && !showChangePassword && !customer?.avatar">
          <div class="p-g-4 p-g-offset-1" style="margin-bottom: 1em; margin-top: 2em;">
            <button type="button" pButton class="p-button-info" icon="fa fa-pencil-square-o" (click)="showChangePassword = true;"
              label="Modifca Password"></button>
          </div>
          <div class="p-g-4 p-g-offset-2" style="margin-bottom: 1em; margin-top: 2em;">
            <p-fileUpload name="customerAvatar" [url]="postPath" (onUpload)="successfulUpload()" (onError)="errorUpload()"
              accept="image/*" mode="basic" chooseLabel="Aggiungi Avatar"></p-fileUpload>
          </div>
        </div>
        <div class="p-g-12" *ngIf="showChangePassword">
          <div class="p-g-3" *ngIf="!newCustomer">
            <label>Password Attuale:</label>
          </div>
          <div class="p-g-9" *ngIf="!newCustomer">
            <input pInputText id="psw" name="psw" type="password" [(ngModel)]="customerPassword" style="width: 100%" />
          </div>
          <div class="p-g-3" *ngIf="!newCustomer">
            <label>Nuova Password:</label>
          </div>
          <div class="p-g-3" *ngIf="newCustomer">
            <label>Password:</label>
          </div>
          <div class="p-g-9">
            <input pInputText id="newPsw" name="newPsw" type="password" [(ngModel)]="newCustomerPassword" style="width: 100%" />
          </div>
          <div class="p-g-3" *ngIf="!newCustomer">
            <label>Conferma Nuova Password:</label>
          </div>
          <div class="p-g-3" *ngIf="newCustomer">
            <label>Conferma Password:</label>
          </div>
          <div class="p-g-9">
            <input pInputText id="repeatedNewPsw" name="repeatedNewPsw" type="password" [(ngModel)]="repeatedNewCustomerPassword"
              style="width: 100%" />
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="p-dialog-buttonpane p-helper-clearfix" *ngIf="loggedCustomer">
        <div class="p-g-4" *ngIf="!newCustomer && !showChangePassword">
          <button type="button" pButton class="p-button-danger" icon="fa fa-trash-o" (click)="delete()" label="Elimina Utente"></button>
        </div>
        <div class="p-g-6" *ngIf="!newCustomer && showChangePassword">
          <button type="button" pButton class="p-button-info" icon="fa fa-times" (click)="annul()" label="Annulla Modifica"></button>
        </div>
        <div class="p-g-12" *ngIf="newCustomer" style="text-align: center">
          <button type="submit" pButton class="p-button-success" icon="fa fa-check" (click)="save()" label="Salva Utente"></button>
        </div>
        <div class="p-g-4" *ngIf="!newCustomer && !showChangePassword && customer?.admin" style="text-align: center">
          <button type="button" pButton class="p-button-warning" icon="fa fa-unlock" (click)="changeCustomerRole(customer, false)"
            label="Rimuovi Admin"></button>
        </div>
        <div class="p-g-4" *ngIf="!newCustomer && !showChangePassword && !customer?.admin"
          style="text-align: center">
          <button type="button" pButton class="p-button-warning" icon="fa fa-lock" (click)="changeCustomerRole(customer, true)"
            label="Assegna Admin"></button>
        </div>
        <div class="p-g-4" *ngIf="!newCustomer && !showChangePassword" style="text-align: right">
          <button type="submit" pButton class="p-button-success" icon="fa fa-upload" (click)="save()" label="Aggiorna Utente"></button>
        </div>
        <div class="p-g-6" *ngIf="!newCustomer && showChangePassword" style="text-align: right">
          <button type="submit" [disabled]="!customerPassword || !newCustomerPassword || !repeatedNewCustomerPassword"
            pButton class="p-button-success" icon="fa fa-check" (click)="save(true)" label="Cambia Password"></button>
        </div>
      </div>
    </p-footer>
  </form>
</p-dialog>

<p-dialog [(visible)]="showYDSTMW" [responsive]="true" [modal]="true" [positionTop]="250"
  [closable]="false">
  <p-header>
    AH Ah Ah! you didn't say the magic word...
  </p-header>
  <div style="text-align: center">
    <img src="../../assets/showcase/images/applicationService/magicWord.gif">
  </div>
</p-dialog>

<p-confirmDialog #cd>
  <p-footer>
    <div class="p-dialog-buttonpane p-helper-clearfix">
      <div class="p-g-3" style="text-align: right">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
      </div>
      <div class="p-g-6"></div>
      <div class="p-g-3" style="text-align: left">
        <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
      </div>
    </div>
  </p-footer>
</p-confirmDialog>
