<div class="ui-grid ui-grid-responsive">
  <p-menubar *ngIf="loggedCustomer && !loggedCustomer.admin" [model]="items">
    <div *ngIf="loggedCustomer">
      <span style="margin-right: -45px;">
        <img class="cerchio" (click)="openUserProfile()" *ngIf="loggedCustomer.avatar" [src]="loggedCustomer.avatarBase64" style="display:inline-block;margin: 0 0 -11px 0">
        <img class="cerchio" (click)="openUserProfile()" *ngIf="!loggedCustomer.avatar" src="assets/showcase/images/customer/user-image.png" style="display:inline-block;margin: 0 0 -11px 0">
        {{loggedCustomer.firstName}} {{loggedCustomer.lastName}}
      </span>
      <p-splitButton class="padLef2em" [model]="itemsProfile"></p-splitButton>
    </div>
  </p-menubar>
  <p-menubar *ngIf="loggedCustomer && loggedCustomer.admin" [model]="adminItems">
    <div *ngIf="loggedCustomer">
      <span style="margin-right: -45px;">
        <img class="cerchio"  (click)="openUserProfile()" *ngIf="loggedCustomer.avatar" [src]="loggedCustomer.avatarBase64" style="display:inline-block;margin: 0 0 -11px 0">
        <img class="cerchio"  (click)="openUserProfile()" *ngIf="!loggedCustomer.avatar" src="assets/showcase/images/customer/user-image.png" style="display:inline-block;margin: 0 0 -11px 0">
        {{loggedCustomer.firstName}} {{loggedCustomer.lastName}}
      </span>
      <p-splitButton class="padLef2em" [model]="itemsProfile"></p-splitButton>
    </div>
  </p-menubar>
  <router-outlet></router-outlet>
</div>
