<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="customerSettingsTost"></p-toast>

<div *ngIf="showCustomerDetails">

  <div class="p-g-12">
    <h1 style="text-align: center">
      Utente: {{customers[0].firstName}} {{customers[0].lastName}}
    </h1>

    <!-- PRIMO RIQUADRO -->

    <div style="padding-bottom: 1em">
      <p-dataView #dv [value]="customers" [rows]="20">
        <ng-template let-customer pTemplate="listItem">
          <div class="p-g-12">
            <div class="p-g-3" style="text-align:center">
              <img *ngIf="customer.avatar" [src]="customer.avatarBase64" style="width: 70%;">
              <img *ngIf="!customer.avatar" src="assets/showcase/images/customer/user-image.png" style="width: 70%;">
            </div>
            <div class="p-g-9">
              <div style="padding-top: 3em">
                <div class="p-g-3">Nome: </div>
                <div class="p-g-3"><b>{{customer.firstName}}</b></div>
                <div class="p-g-3">Cognome: </div>
                <div class="p-g-3"><b>{{customer.lastName}}</b></div>
                <div class="p-g-3">Sesso: </div>
                <div class="p-g-3"><b>{{customer.sesso}}</b></div>
                <div class="p-g-3">Data di Nascita: </div>
                <div class="p-g-3"><b>{{customer.dataDiNascita}}</b></div>
                <div class="p-g-3">N. Richieste: </div>
                <div class="p-g-3"><b>{{customer.numeroRichieste}}</b></div>
                <div class="p-g-3">Tipo Utente: </div>
                <div class="p-g-3" *ngIf="!customer.admin"><b>Utente Base</b></div>
                <div class="p-g-3" *ngIf="customer.admin"><b>Admin</b></div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <!-- SECONDO RIQUADRO -->

    <div style="padding-bottom: 1em">
      <p-dataView #dv2 [value]="customers" [rows]="20">
        <ng-template let-customer pTemplate="listItem">
          <div class="p-g-12" style="text-align: center">
            <div *ngIf="customer.avatar" class="p-g-6" style="padding-top: 1em">
                <button type="button" pButton class="p-button-danger" icon="fa fa-times" (click)="deleteAvatar();"
                label="Elimina Avatar"></button>
            </div>
            <div *ngIf="!customer.avatar" class="p-g-12">
              <p-fileUpload name="customerAvatar" [url]="postPath" (onUpload)="successfulUpload()" (onError)="errorUpload()"
                chooseLabel="Scegli Avatar" uploadLabel="Carica Immagine" cancelLabel="Cancella" accept="image/*"></p-fileUpload>
            </div>
            <div *ngIf="customer.avatar" class="p-g-6">
              <p-fileUpload name="customerAvatar" [url]="postPath" (onUpload)="successfulUpload()" (onError)="errorUpload()"
                chooseLabel="Modifca Avatar" uploadLabel="Carica Immagine" cancelLabel="Cancella" accept="image/*"></p-fileUpload>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <!-- TERZO RIQUADRO -->

    <p-dataView #dv3 [value]="customers" [rows]="20">
      <ng-template let-customer pTemplate="listItem">
        <div class="p-g-12">
          <div class="p-g-12" style="text-align: center">
            <div class="p-g-12">
              <div *ngIf="!showChangePassword">
                <button type="button" pButton class="p-button-info" icon="fa fa-pencil-square-o" (click)="showChangePassword = true;"
                  label="Modifca Password"></button>
              </div>
              <div *ngIf="showChangePassword">
                <button type="button" pButton class="p-button-danger" icon="fa fa-times" (click)="showChangePassword = false;"
                  label="Annulla Modifca"></button>
              </div>
            </div>
          </div>
          <div class="p-g-12" *ngIf="showChangePassword">
            <form name="form" #fChangePsw="ngForm">
              <div class="p-g-4" style="text-align: center">
                <div class="label">Password Attuale:</div>
                <input pInputText id="psw" name="psw" type="password" [(ngModel)]="customerPassword" style="width: 65%; align-self: center;" />
              </div>
              <div class="p-g-4" style="text-align: center">
                <div class="label">Nuova Password:</div>
                <input pInputText id="newPsw" name="newPsw" type="password" [(ngModel)]="newCustomerPassword" style="width: 65%" />
              </div>
              <div class="p-g-4" style="text-align: center">
                <div class="label">Conferma Nuova Password:</div>
                <input pInputText id="repeatedNewPsw" name="repeatedNewPsw" type="password" [(ngModel)]="repeatedNewCustomerPassword"
                  style="width: 65%" />
              </div>
              <div style="padding-top: 6em; text-align: center" *ngIf="showChangePassword">
                <button type="submit" [disabled]="!customerPassword || !newCustomerPassword || !repeatedNewCustomerPassword"
                  pButton class="p-button-success" icon="fa fa-check" (click)="saveNewPassword()" label="Cambia Password"></button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>

  <p-confirmDialog #cd>
    <p-footer>
      <div class="p-dialog-buttonpane p-helper-clearfix">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
          <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
        </div>
      </div>
    </p-footer>
  </p-confirmDialog>

</div>
