body.backImage {
    background-image: url("assets/showcase/images/coverLogin/login_cover.jpg");
    background-position: center;
  }
  
  .fa-thumbs-o-up {
    color: rgb(0, 196, 0) !important;
  }
  
  .fa-thumbs-o-down {
    color: red !important;
  }
  
  .ui-panel .ui-panel-titlebar {
    text-align: center;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
  

  
  .ui-inputtext {
    font-size: 18px !important;
  }
  
  .ui-widget {
    font-size: 18px !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-success {
    color: #ffffff !important;
    background: green !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-success .ui-growl-image {
    color: #ffffff !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-warn {
    background: orange !important;
    color: black !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-warn .ui-growl-image {
    color: black !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-error {
    color: #ffffff !important;
    background: red !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-error .ui-growl-image {
    color: #ffffff !important;
  }
  
  .ui-confirmdialog.ui-dialog .ui-dialog-content {
    text-align: center;
  }
  
  .ui-dialog .ui-dialog-titlebar {
    background-color: darkblue !important;
    color: white !important;
  }
  
  .ui-card-body {
    padding: 0em !important;
    padding-bottom: 1em !important;
  }
  
  .ui-dataview .ui-dataview-header {
    padding: 0em !important;
    border: none !important;
  }

  .p-fluid .p-fileupload .p-button {
    width: inherit !important;
  }
  
  .ui-widget {
    font-size: 20px;
  }
  
  .ui-fluid .ui-dropdown {
    width: 100% !important;
  }
  
  .ui-dialog-titlebar {
    text-align: center;
  }
  
  .ui-splitbutton {
    .ui-button {
      background-color: transparent !important;
      color: black !important;
    }
  }
  
  .ui-progressbar .ui-progressbar-label {
    color: white !important;
  }
  
  .underProcessing {
    .ui-progressbar .ui-progressbar-value {
      background: blue !important;
    }
  
    .ui-progressbar .ui-progressbar-label {
      color: black !important;
    }
  }
  
  .inCharge {
    .ui-progressbar .ui-progressbar-value {
      background: orange !important;
    }
  }
  
  .complete {
    .ui-progressbar .ui-progressbar-value {
      background: rgb(0, 196, 0) !important;
    }
  }
  
  .rejected {
    .ui-progressbar .ui-progressbar-value {
      background: red !important;
    }
  }
  
  .home-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0px;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #005E51 !important;
    background: #005E51 !important;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #005E51 !important;
    background: #005E51 !important;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #005E51 !important;
    box-shadow: 0 0 0 0.2rem #71ffb3 !important;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border-color: #005E51 !important;
    box-shadow: 0 0 0 0.2rem #71ffb3 !important;
  }