body.backImage {
    background-image: url("assets/showcase/images/coverLogin/login_cover.jpg");
    background-position: center;
  }
  
  .fa-thumbs-o-up {
    color: rgb(0, 196, 0) !important;
  }
  
  .fa-thumbs-o-down {
    color: red !important;
  }
  
  .ui-panel .ui-panel-titlebar {
    text-align: center;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
  }
  
  
  [film-input] {
    font-size: 16px;
    height: 40px;
    width: 85%;
    max-width: 240px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000000;
    font-family: 'Lato', sans-serif, FontAwesome !important;
  
    &.ui-inputtext:enabled:hover {
      border-color: darkgray;
    }
  }
  
  .ui-inputtext {
    font-size: 18px !important;
  }
  
  .ui-widget {
    font-size: 18px !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-success {
    color: #ffffff !important;
    background: green !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-success .ui-growl-image {
    color: #ffffff !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-warn {
    background: orange !important;
    color: black !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-warn .ui-growl-image {
    color: black !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-error {
    color: #ffffff !important;
    background: red !important;
  }
  
  .ui-growl .ui-growl-item-container.ui-growl-message-error .ui-growl-image {
    color: #ffffff !important;
  }
  
  .ui-confirmdialog.ui-dialog .ui-dialog-content {
    text-align: center;
  }
  
  .ui-dialog .ui-dialog-titlebar {
    background-color: darkblue !important;
    color: white !important;
  }
  
  .ui-card-body {
    padding: 0em !important;
    padding-bottom: 1em !important;
  }
  
  .ui-dataview .ui-dataview-header {
    padding: 0em !important;
    border: none !important;
  }
  
  [film-fieldset] {
  
    .ui-fieldset {
      border-color: transparent;
      display: contents;
    }
  
    .ui-fieldset .ui-fieldset-legend-text {
      color: white !important;
    }
  
    .ui-fieldset-toggleable .ui-fieldset-legend {
      max-width: 15em;
    }
  }
  
  [film-table] {
    &[film-loader-table] {
      .ui-blockui {
        height: 67% !important;
  
        &.ui-widget-overlay {
          background: rgba(255, 255, 255, 0.5);
          opacity: 1;
          text-align: center;
          margin-top: 10em;
        }
      }
    }
  
    font-size: 16px;
    padding-bottom: 2em;
  
    .ui-table {
      .ui-table-thead {
        tr {
          th {
            background: darkblue;
            color: white;
          }
        }
      }
  
      .ui-table-tbody {
        tr {
          td {
            text-align: center;
            color: black;
            height: 4em;
  
            &.action-column {
              width: 2.1em;
              padding-right: 0 !important;
              padding-left: 0 !important;
            }
  
            div.ui-chkbox {
              vertical-align: bottom;
            }
  
          }
        }
      }
  
      .ui-table-tfoot {
        tr {
          td {
            background: darkblue;
            color: white;
          }
        }
      }
  
    }
  }
  
  [setting-table] {
    .ui-table {
      .ui-table-tbody {
        tr {
          td {
            text-align: center;
            color: black;
          }
        }
      }
    }
  }
  
  .ui-multiselect {
    width: 85%;
  }
  
  [sdc-multiselect] {
    .ui-multiselect {
      min-Width: 12em;
      width: 85%;
      height: 32px;
      max-width: 240px;
      width: 100%;
      border-radius: 2px;
      border: 1px solid darkgray;
  
      .ui-state-highlight {
        background-color: lightblue;
      }
  
      .ui-multiselect-label {
        color: #000000;
        font-family: 'Lato', sans-serif, FontAwesome;
        text-align: left;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
  
      .ui-multiselect-trigger {
        height: 4px;
        width: -22px;
        border: white;
        background-color: transparent;
      }
  
      .ui-multiselect-trigger-icon {
        visibility: hidden;
      }
  
      &:hover {
        background: darkblue;
  
        .ui-multiselect-label {
          background: darkblue;
          color: white;
          font-family: 'Lato', sans-serif, FontAwesome;
          font-size: 16px;
        }
  
        .ui-multiselect-trigger {
          color: white;
        }
      }
    }
  }
  
  .ui-widget {
    font-size: 20px;
  }
  
  .ui-fluid .ui-dropdown {
    width: 100% !important;
  }
  
  .ui-dialog-titlebar {
    text-align: center;
  }
  
  .ui-splitbutton {
    .ui-button {
      background-color: transparent !important;
      color: black !important;
    }
  }
  
  .ui-progressbar .ui-progressbar-label {
    color: white !important;
  }
  
  .underProcessing {
    .ui-progressbar .ui-progressbar-value {
      background: blue !important;
    }
  
    .ui-progressbar .ui-progressbar-label {
      color: black !important;
    }
  }
  
  .inCharge {
    .ui-progressbar .ui-progressbar-value {
      background: orange !important;
    }
  }
  
  .complete {
    .ui-progressbar .ui-progressbar-value {
      background: rgb(0, 196, 0) !important;
    }
  }
  
  .rejected {
    .ui-progressbar .ui-progressbar-value {
      background: red !important;
    }
  }
  
  .home-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0px;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: #005E51 !important;
    background: #005E51 !important;
  }
  
  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #005E51 !important;
    background: #005E51 !important;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #005E51 !important;
    box-shadow: 0 0 0 0.2rem #71ffb3 !important;
  }

  .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
    border-color: #005E51 !important;
    box-shadow: 0 0 0 0.2rem #71ffb3 !important;
  }