<p-toast [style]="{marginTop: '80px'}" styleClass="error-toast" key="homeTost"></p-toast>

<div class="ui-grid-col-12" style="padding-bottom: 3em;">
  <div class="ui-g">
    <div class="ui-g-12">
      <div *ngIf="loggedCustomer" style="height: 30em;">
        <h1 style="text-align: center">HOME</h1>

        <div class="ui-grid-col-4" style="padding-top: 2em; padding-left: 5%; padding-right: 5%; text-align: center;">
          <p-card title="Ricerca Serie TV" subtitle="Trova la Serie che ami!" [style]="{width: '385px'}" styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src="assets\showcase\images\HomePage\Card\CardRicercaSerieTV.jpg">
            </p-header>
            <div>Qui troverai un elenco di moltissime serie TV, dove potrai ricercare le tue preferite e avere tutte le
              informazioni che cerchi.</div>
            <p-footer>
              <button style="margin-top: 10px;" *ngIf="loggedCustomer.admin" pButton type="button" label="Gestisci Serie TV"
                icon="fa fa-cog" (click)="goToSerieTvOnAdminMode()" class="ui-button-danger"></button>
              <button pButton type="button" label="Cerca Serie TV" icon="fa fa-video-camera" (click)="goToSerieTv()"></button>
            </p-footer>
          </p-card>
        </div>
        <div class="ui-grid-col-4" style="padding-top: 2em; padding-left: 5%; padding-right: 5%; text-align: center;">
          <p-card title="Ricerca Film" subtitle="Trova il Film che ti piace!" [style]="{width: '385px'}" styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src="assets\showcase\images\HomePage\Card\CardRicercaFilm.jpg">
            </p-header>
            <div>Qui troverai un elenco di moltissimi film, dove potrai ricercare i tuoi preferiti e avere tutte le
              informazioni che cerchi.</div>
            <p-footer>
              <button style="margin-top: 10px;" *ngIf="loggedCustomer.admin" pButton type="button" label="Gestisci Film"
                icon="fa fa-cog" (click)="goToFilmsOnAdminMode()" class="ui-button-danger"></button>
              <button pButton type="button" label="Cerca Film" icon="fa fa-film" (click)="goToFilms()"></button>
            </p-footer>
          </p-card>
        </div>
        <div class="ui-grid-col-4" style="padding-top: 2em; padding-left: 5%; padding-right: 5%; text-align: center;">
          <p-card title="Fai una Richiesta" subtitle="Chiedi di aggiungere un Titolo!" [style]="{width: '385px'}"
            styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src="assets\showcase\images\HomePage\Card\CardRichieste.jpg">
            </p-header>
            <div style="padding-bottom: 24px;">Qui potrai chiedere tu stesso un film o una Serie TV che non sono
              presenti
              in
              lista.</div>
            <p-footer>
              <button style="margin-top: 10px;" *ngIf="loggedCustomer.admin" pButton type="button" label="Gestisci Richieste"
                icon="fa fa-cog" (click)="goToRicheisteOnAdminMode()" class="ui-button-danger"></button>
              <button style="margin-top: 10px;" *ngIf="loggedCustomer.admin" pButton type="button" label="Cerca Utenti"
                icon="fa fa-users" (click)="goToUtentiAdminMode()"></button>
              <button pButton type="button" *ngIf="!loggedCustomer.admin" label="Fai una Richiesta" icon="pi pi-plus"
                (click)="goToRicheiste()"></button>
            </p-footer>
          </p-card>
        </div>
      </div>

      <div *ngIf="newFilms" style="text-align: center; padding-top: 4em;">
        <h1>Film Aggiunti di Recente</h1>
        <p-carousel [value]="newFilms" [autoplayInterval]="5000">
          <ng-template let-film pTemplate="item">
            <div class="ui-grid ui-grid-responsive" style="height: 31em; padding-top: 2em;">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img [src]="film.locandina"
                    style="height: 20em;"></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12"><b>{{film.nome}}</b></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12">
                  <button type="button" title="Visualizza Dettagli" pButton icon="pi pi-search" (click)="showDetailsFilm(film._id || film.id)"></button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

      <div *ngIf="newSerie" style="text-align: center; padding-top: 4em;">
        <h1>Nuove Serie TV</h1>
        <p-carousel [value]="newSerie" [autoplayInterval]="5000">
          <ng-template let-serie pTemplate="item">
            <div class="ui-grid ui-grid-responsive" style="height: 25em; padding-top: 2em;">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img [src]="serie.locandina"
                  style="height: 14em; max-width: 24em;"></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12"><b>{{serie.nome}} {{serie.stagioni[(serie.stagioni.length - 1)].numeroStagione}}° Stagione</b></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12">
                  <button type="button" title="Visualizza Dettagli" pButton icon="pi pi-search" (click)="showDetailsSerie(serie.serie_id || serie._id)"></button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>

      <div *ngIf="categoriaPreferita" style="padding-top: 4em;">
        <h1 style="text-align: center">Film Consigliati</h1>
        <p-carousel [value]="recommendedFilms" headerFacet="'Categoria: ' + categoriaPreferita" [autoplayInterval]="5000">
          <ng-template let-film pTemplate="item">
            <div class="ui-grid ui-grid-responsive" style="height: 31em; padding-top: 2em; text-align: center">
              <div class="ui-grid-row">
                <div class="ui-grid-col-12"><img [src]="film.locandina"
                    style="height: 20em;"></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12"><b>{{film.nome}}</b></div>
              </div>
              <div class="ui-grid-row" style="padding-top: 2em">
                <div class="ui-grid-col-12">
                  <button type="button" title="Visualizza Dettagli" pButton icon="pi pi-search" (click)="showDetailsFilm(film._id || film.id)"></button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      <div *ngIf="!categoriaPreferita">
        <div style="padding-top: 4em; text-align: center; padding-left: 25%; padding-right: 25%;">
          <p-card title="Quali sono le tue Categorie preferite?" subtitle="Inserisci le tue Categorie" styleClass="ui-card-shadow">
            <p-header>
              <img src="Card" src="../../assets/showcase/images/HomePage/Card/Preferiti.jpg">
            </p-header>
            <div>Qui potrai scegliere le tue categorie di Film preferite, per essere sempre aggiornato sulle nuove
              uscite che più ti piacciono.</div>
            <p-footer>
              <button pButton type="button" label="Aggiungi Categorie Preferite" icon="fa fa-star" (click)="goToPersonalPrifile()"></button>
            </p-footer>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui-grid-col-12" *ngIf="loadFooter">
  <div class="ui-g">
    <div class="ui-g-12" style="padding: 0px; margin-bottom: -10px;">
      <img src="../../assets/showcase/images/HomePage/Footer/photo_dx.png" style="width: 100%; height: 15em;">
    </div>
    <div class="ui-g-12 home-footer" style="height: 9em; padding: 0px;">
      <div class="ui-g-2"></div>
      <div class="ui-g-3" style="text-align: left">
        <ul style="list-style-type: none;">
          <li>
            FilmStore
          </li>
          <li>
            Archivio Film & Serie TV
          </li>
          <li>
            Italia
          </li>
          <li>
            00143 - Roma
          </li>
          <li>
            Tel. +39 0697458422
          </li>
          <li>
            email: <a href="mailto:vincenzodamico93@gmail.com">vincenzodamico93@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="ui-g-2">
        <img src="../../assets/showcase/images/icon/video-player-icon-1.jpg" style="margin-top: 5px; width: 40%;">
      </div>
      <div class="ui-g-3" style="text-align: right">
        <ul style="list-style-type: none;">
          <li>
            FilmStore
          </li>
          <li>
            Archivio Film & Serie TV
          </li>
          <li>
            Italia
          </li>
          <li>
            00143 - Roma
          </li>
          <li>
            Tel. +39 0697458422
          </li>
          <li>
            email: <a href="mailto:vincenzodamico93@gmail.com">vincenzodamico93@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="ui-g-2"></div>
    </div>
  </div>
</div>
