.inLavorazione {
    background-color: blue !important;
    color: #ffffff !important;
}

.presaInCarico {
    background-color: orange !important;
    color: #ffffff !important;
}

.completata {
    background-color:  rgb(0, 196, 0) !important;
    color: #ffffff !important;
}

.rifiutata {
    background-color: red !important;
    color: #ffffff !important;
}