<div class="p-g-12" style="border:1px solid black; border-top: none">
  <h1 style="text-align: center">Richieste</h1>
  <div class="p-g-2"></div>
  <div class="p-g-8">
    <h2 style="text-align: center">Numero Di Richieste Durante L'Anno</h2>
    <p-chart type="line" [data]="dataLineRichieste"></p-chart>
  </div>
  <div class="p-g-2"></div>
  <div class="p-g-6" style="padding-top: 2em;">
    <h2 style="text-align: center">Numero Di Richieste Per Utente</h2>
    <p-chart type="pie" [data]="dataPieRichieste"></p-chart>
  </div>
  <div class="p-g-6" style="padding-top: 2em;">
    <h2 style="text-align: center">Numero Di Richieste Per Stato</h2>
    <p-chart type="polarArea" [data]="dataPolarRichieste"></p-chart>
  </div>
</div>

<div class="p-g-12" style="border:1px solid black; border-top: none">
  <h1 style="text-align: center">Film</h1>
  <div class="p-g-6" style="padding-top: 2em;">
    <h2 style="text-align: center">Numero Di Film Per Formato</h2>
    <p-chart type="doughnut" [data]="dataDoughnutFilm"></p-chart>
  </div>
  <div class="p-g-6" style="padding-top: 2em;">
    <h2 style="text-align: center">Numero Di Film Per Anno</h2>
    <p-chart type="bar" [data]="dataLineFilm"></p-chart>
  </div>
  <div class="p-g-12" style="padding-top: 2em; padding-left: 10%; padding-right: 10%;">
    <h2 style="text-align: center">Numero Di Film Per Categoria</h2>
    <p-chart type="bar" [data]="dataLineCategoryFilm"></p-chart>
  </div>

  <div class="p-g-12">
    <h2 style="text-align: center">Voti & Like Di Film</h2>
  </div>

  <!-- FILTRI DI RICERCA -->
  <div class="p-grid-col-12" style="padding-left: 10%; padding-right: 10%;">
    <div class="p-g">
      <div class="p-g-2" style="padding-left: 0px">
        <div class="label"> Utente </div>
        <p-multiSelect [filter]="false" [showToggleAll]="false" [showHeader]="false" [options]="listaRichiedenti"
          [(ngModel)]="filters.format" (onChange)="vt.filter($event.value, 'firstNameCustomer', 'in')">
          <ng-template let-value pTemplate="selectedItems">
            <div *ngFor="let val of value" class="p-multiselected-item-token p-corner-all">
              <span>{{val}}</span>
            </div>
            <span *ngIf="!value || value.length === 0" class="p-multiselected-empty-token p-corner-all"><i class="fa fa-search"
                aria-hidden="true" style="margin-right: 5px"></i>Utente</span>
          </ng-template>
        </p-multiSelect>
      </div>
      <div class="p-g-4 p-g-offset-2" style="text-align: center">
        <div class="label"> Titolo Film Votato </div>
        <input film-input type="text" pInputText placeholder=" &#xF002; Titolo" [(ngModel)]="filters.titleMsg" (input)="vt.filter($event.returnValue, 'nomeFilm', 'contains')">
      </div>
      <div film-button-third class="p-g-4 resetButton" style="text-align: right; padding-right: 0px;">
        <button pButton type="button" label="Reset Filtri" (click)="reset(vt)" style="margin-top: 14px;"></button>
      </div>
    </div>
  </div>

  <div class="p-g-12" style="padding-left: 10%; padding-right: 10%; padding-top: 1em;">
    <p-table [columns]="cols" film-table [value]="voti" #vt>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-voto let-columns="columns">
        <tr>
          <td *ngFor="let col of columns" [innerHTML]="col.renderer ? col.renderer(voto) : voto[col.field]">
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="cols.length">
            Nessun Voto Trovato
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div class="p-g-12" style="border:1px solid black; border-top: none">
  <h1 style="text-align: center">Serie TV</h1>
  <div class="p-g">
    <div class="p-g-3"></div>
    <div class="p-g-6">
      <h2 style="text-align: center">Numero Stagioni Per Formato</h2>
      <p-chart type="bar" [data]="dataBarSerieTV"></p-chart>
    </div>
    <div class="p-g-3"></div>
  </div>
</div>
